<a href="https://colab.research.google.com/github/gowthamponnekanti/Podcast-FRONTEND/blob/main/Data_Analysis_Colleges.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv("/content/college data.csv")

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
data.shape

(1016, 20)

In [ ]:
data.isnull().sum()

In [ ]:
data.drop(data.tail(1).index,inplace=True)

In [ ]:
data.shape

(1015, 20)

In [ ]:
data.isnull().sum()

In [ ]:
data.nunique()

In [ ]:
data.drop(['S.No.','Application Number','Application Type','Inst Address','Inst Address 2','Pincode',],axis=1)

In [ ]:
no_of_colleges=data['Institute Name'].groupby(data['State']).unique().apply(pd.Series)
no_of_colleges

In [ ]:
graph_1=no_of_colleges.count(1)
graph_1

In [ ]:
graph_1.plot.bar(x='State',y='count')
plt.title("States v/s No. of colleges")

In [ ]:
data["Inst Type"]= data["Inst Type"].replace("Unaided - Private","Unaided-Private")

In [ ]:
aid_unaid=data['Institute Name'].groupby(data['Inst Type']).unique().apply(pd.Series)
aid_unaid

In [ ]:
graph_2=aid_unaid.count(1)
graph_2

In [ ]:
graph_2.plot.bar(x='Inst_Type',y='count')
plt.title("Inst Type v/s No. of colleges")

In [ ]:
courses=data['Course'].groupby(data['Institute Name']).unique().apply(pd.Series)
courses

In [ ]:
graph_3=courses.count(1)
graph_3